.favorite-bg {
  background-color: #0f0f0f;
  min-height: 100vh;
}

.favorite-bg .favorite-all:not(:last-child) {
  border-bottom: 2px solid #000;
}

.favorite-all {
  grid-template-columns: max-content auto;
  width: 90%;
}

@media (max-width: 1024px) {
  .favorite-img img {
    width: 220px;
    height: 300px;
  }
}

@media (max-width: 820px) {
  .favorite-all {
    padding: 20px;
    grid-template-columns: 1fr;
  }

  .favorite-img {
    justify-self: center;
  }
}

@media (max-width: 520px) {
  .fit-content {
    width: fit-content;
  }

  .favorites .genre p {
    display: grid;
    gap: 10px;
    max-width: fit-content;
  }
}
