.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px 40px;
}

.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}
.column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.g-20 {
  gap: 20px;
}

.g-40 {
  gap: 40px;
}

.font-large {
  font: 400 2rem/1.25 "Poppins", sans-serif;
  color: #dfa822;
}

.small-font {
  font: 600 0.875rem/1.5 "Poppins", sans-serif;
  color: #fff;
}

.mini-font {
  font: 400 0.75rem/1.5 "Roboto", sans-serif;
  color: #fff;
}

html,
body,
#root {
  height: 100%;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #0f0f0f;
}

.default-container {
  flex: 1;
  background-color: #141414;
}

@media (max-width: 820px) {
  .font-large {
    font: 400 1.8rem/1.25 "Poppins", sans-serif;
  }
}

@media (max-width: 520px) {
  .font-large {
    font: 400 1.5rem/1.25 "Poppins", sans-serif;
  }
}
