.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px 40px;
}

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.g-20 {
  gap: 20px;
}

.font-large {
  font: 400 2rem/1.25 "Poppins", sans-serif;
  color: #fff;
}

.small-font {
  font: 600 0.875rem/1.5 "Poppins", sans-serif;
  color: #fff;
}

.mini-font {
  font: 400 0.75rem/1.5 "Roboto", sans-serif;
  color: #fff;
}

.button-style {
  max-width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  border-radius: 4px;
  background: linear-gradient(90deg, #ffb500 0%, #f5aa14 100%);
  font: 500 1.25rem/1.2 "Poppins", sans-serif;
  color: #0c0c0c;
  outline: none;
  border: none;
  cursor: pointer;
}
